[core]
	editor = /usr/local/bin/emacs
	excludesfile = ~/.gitignore_global
[user]
	name = CrisFeo
	email = cris.feo@gmail.com
[alias]
	amend = commit --amend
	br = branch
	co = checkout
	st = status
	ls = branch --list
	pop = stash pop
	br-co = checkout -b
	push-head = push origin HEAD
	force-push = push origin HEAD --force
	log-fancy = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = simple
