[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = CrisFeo
	email = feo.cris@gmail.com
[alias]
	amend = commit --amend
	br = branch
	co = checkout
	st = status
	ls = branch --list
	pop = stash pop
	br-co = checkout -b
	push-head = push origin HEAD
	force-push = push origin HEAD --force
	log-fancy = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  diff-words = diff --color-words=.
	stage-file   = "!f() { t=${1-.}; git add $t; }; f"
	unstage-file = "!f() { t=${1-.}; git reset HEAD -- $t; }; f"
	undo         = "!f() { t=${1-.}; git checkout -- $t; }; f"
[push]
	default = simple
