# smart history for scrolling up and down
"\e[A":history-search-backward
"\e[B":history-search-forward

# Check out `man bash` and seach for "readline variables" to find more options.

# If completing and multiple matches exist, show immediately instead of dinging
# the bell.
set show-all-if-ambiguous on

# Make completion matching case-insensitive
set completion-ignore-case on

# Increase the minimum number of items required before the user is warned about
# large numbers of matches being displayed.
set completion-query-items 10000

# prevent "^C" etc. from appearing
set echo-control-characters off

# Use vi mode, switching the cursor type when in insert vs. command mode For
# other cursors, change the number after the escape to one of the following:
# 0 -> block     (blinking)
# 1 -> block     (blinking)
# 2 -> block     (steady)
# 3 -> underline (blinking)
# 4 -> underline (steady)
# 5 -> bar       (blinking) (xterm-only)
# 6 -> bar       (steady)   (xterm-only)
set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[6 q\2"
set vi-cmd-mode-string "\1\e[2 q\2"

# Allow clearing the screen with C-l in both vi modes
set keymap vi-command
Control-l: clear-screen
set keymap vi-insert
Control-l: clear-screen
