@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* 1. Open `about:support` in Firefox and click "Show in Finder" or whatever your OS flavor text is
 * 2. Create `./chrome/userChrome.css` at the resultant location
 * 3. Copy this css file in there and restart Firefox
 * 4. Open the Firefox "Customize" menu and set the following:
 *   - Title Bar: Off
 *   - Drag Space: Off
 *   - Density: Compact
 */

#nav-bar {
  background: transparent !important;
  margin-right: 70vw !important;
  margin-top: -32px !important;
}

#forward-button, #back-button {
  display: none !important;
}

#page-action-buttons {
  display: none !important;
}

#urlbar-go-button {
  display: none !important;
}

#PanelUI-menu-button,
.titlebar-spacer {
  display: none !important;
}

#TabsToolbar {
  margin-left: 30vw !important;
}

.tabbrowser-tab:only-of-type {
  display: none !important;
}

#tabs-newtab-button {
  display: none !important;
}

#new-tab-button {
  display: none !important;
}

#alltabs-button {
  display: none !important;
}

.scrollbutton-up,
.scrollbutton-down {
  display: none !important;
}

